.S1seccion-002{
    /* background-color: #93c248; */
    width: 100%;
    height: auto;

    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    color: #fff;
}
.container002{
    /* background-color: #daabe9; */
    max-width: 2200px;
    height: auto;
    margin: 0 auto;

    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
}
.b1-002{
    width: 50%;
    /* background-color: #db382c; */
    padding: 0 2rem;

    display: flex;
}
.b1-11-002{
    width: 100%;
    /* background-color: #78df8e; */
    padding: 0 16rem;

    text-align: center;
    margin: auto;
}
.b1-11-002 img{
    width: 100%;
    height: auto;
}
.b2-002{
    width: 50%;
    /* background-color: #0871e9; */
    padding: 0 2rem 0 15rem;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #000;

}
.b2-002 span{
    font-size: 4rem;
    text-align: center;
    /* background-color: #08e91b; */
    font-weight: 700;

    padding: 0 0 2rem 0;
}
.b2-002 p{
    font-size: 2.5rem
}





/* primer grupo */

@media (max-width: 2470px) {
    html {
        font-size: 9px;
    }
    .container002{
        max-width: 2070px;
    }
}
@media (max-width: 2370px) {
    html {
        font-size: 9px;
    }
    .container002{
        max-width: 1970px;
    }
}
@media (max-width: 2270px) {
    html {
        font-size: 9px;
    }
    .container002{
        max-width: 1870px;
    }
}
@media (max-width: 2170px) {
    html {
        font-size: 8px;
    }
    .container002{
        max-width: 1770px;
    }
}
@media (max-width: 2070px) {
    html {
        font-size: 8px;
    }
    .container002{
        max-width: 1670px;
    }
}
@media (max-width: 1970px) {
    html {
        font-size: 8px;
    }
    .container002{
        max-width: 1570px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    html {
        font-size: 7px;
    }
    .container002{
        max-width: 1570px;
    }
}
@media (max-width: 1770px) {
    html {
        font-size: 7px;
    }
    .container002{
        max-width: 1470px;
    }
}
@media (max-width: 1670px) {
    html {
        font-size: 7px;
    }
    .container002{
        max-width: 1370px;
    }
}
@media (max-width: 1570px) {
    html {
        font-size: 6px;
    }
    .container002{
        max-width: 1370px;
    }
}
@media (max-width: 1470px) {
    html {
        font-size: 6px;
    }
    .container002{
        max-width: 1270px;
    }
}
@media (max-width: 1370px) {
    html {
        font-size: 6px;
    }
    .container002{
        max-width: 1170px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {
    html {
        font-size: 5px;
    }
    .container002{
        max-width: 1170px;
    }
}
@media (max-width: 1170px) {
    html {
        font-size: 5px;
    }
    .container002{
        max-width: 1070px;
    }
}
@media (max-width: 1070px) {
    html {
        font-size: 5px;
    }
    .container002{
        max-width: 970px;
    }
}
@media (max-width: 970px) {
    html {
        font-size: 4px;
    }
    .container002{
        max-width: 970px;
    }
}
@media (max-width: 870px) {
    html {
        font-size: 4px;
    }
    .container002{
        max-width: 870px;
    }
}
@media (max-width: 770px) {
    html {
        font-size: 4px;
    }
    .container002{
        max-width: 770px;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    html {
        font-size: 3px;
    }
    .container002{
        max-width: 670px;
    }
}
@media (max-width: 570px) {
    html {
        font-size: 3px;
    }
    .container002{
        max-width: 570px;
    }
}
@media (max-width: 470px) {
    html {
        font-size: 3px;
    }
    .container002{
        max-width: 470px;
    }
    .b1-002{
        width: 100%;
    }
    .b2-002{
        width: 100%;
        padding: 2rem;
    }
}
@media (max-width: 370px) {
    html {
        font-size: 2px;
    }
    .container002{
        max-width: 370px;
    }
}
@media (max-width: 270px) {
    html {
        font-size: 2px;
    }
    .container002{
        max-width: 270px;
    }
    .row {
        width: 100%;
    }
}
@media (max-width: 170px) {
    html {
        font-size: 2px;
    }
    .container002{
        max-width: 170px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    html {
        font-size: 1.5px;
    }
    .container002{
        max-width: 150px;
    }
}
@media (max-width: 130px) {
    html {
        font-size: 1.5px;
    }
    .container002{
        max-width: 130px;
    }
}
@media (max-width: 110px) {
    html {
        font-size: 1.5px;
    }
    .container002{
        max-width: 110px;
    }
}
@media (max-width: 100px) {
    html {
        font-size: 1px;
    }
    .container002{
        max-width: 100px;
    }
}
@media (max-width: 90px) {
    html {
        font-size: 1px;
    }
    .container002{
        max-width: 90px;
    }
}
@media (max-width: 80px) {
    html {
        font-size: 1px;
    }
    .container002{
        max-width: 80px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    html {
        font-size: 0.5px;
    }
    .container002{
        max-width: 70px;
    }
}
@media (max-width: 60px) {
    html {
        font-size: 0.5px;
    }
    .container002{
        max-width: 60px;
    }
}
@media (max-width: 50px) {
    html {
        font-size: 0.5px;
    }
    .container002{
        max-width: 50px;
    }
}
@media (max-width: 40px) {
    html {
        font-size: 0.1px;
    }
    .container002{
        max-width: 40px;
    }
}
@media (max-width: 30px) {
    html {
        font-size: 0.1px;
    }
    .container002{
        max-width: 30px;
    }
}
@media (max-width: 20px) {
    html {
        font-size: 0.1px;
    }
    .container002{
        max-width: 20px;
    }
}