.S1seccion-010{
    width: 100%;
    height: auto;
    /* background-color: #44d17a; */
}
.container010{
    /* background-color: #e06641; */
    max-width: 2200px;
    height: auto;
    margin: 0 auto;

    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.a001-010{
    width: 25%;
    height: auto;
    /* background-color: #c7f2f3; */

    padding: 2rem;
    flex-wrap: wrap;
}
.a001-010-00{
    width: 100%;
    height: auto;
    /* background-color: #368586; */

    
}

.a001-010-01{
    width: 100%;
    height: auto;
    /* background-color: #b678be; */

    display: flex;
    padding: 2rem;
}
.a001-010-01 i{
    font-size: 15rem;
    margin: 0 auto;
}
.a001-010-02{
    width: 100%;
    height: auto;
    /* background-color: #9ead46; */

    display: flex;
    filter: invert(0%) sepia(0%) saturate(7466%) hue-rotate(136deg) brightness(109%) contrast(100%) brightness(0) saturate(100%);
    
}
.a001-010-02 a{
    font-size: 4rem;
    font-weight: 700;
    margin: auto;
    cursor: default;
}
.a001-010-02 img{
    width: 20rem;
}
.a001-010-03{
    width: 100%;
    height: auto;
    /* background-color: #9f94c7; */

    display: flex;
}
.a001-010-03 span{
    font-size: 3rem;
    font-weight: 500;
}






/* primer grupo */

@media (max-width: 2470px) {
    html {
        font-size: 9px;
    }
    .container010{
        max-width: 2070px;
    }
}
@media (max-width: 2370px) {
    html {
        font-size: 9px;
    }
    .container010{
        max-width: 1970px;
    }
}
@media (max-width: 2270px) {
    html {
        font-size: 9px;
    }
    .container010{
        max-width: 1870px;
    }
}
@media (max-width: 2170px) {
    html {
        font-size: 8px;
    }
    .container010{
        max-width: 1770px;
    }
}
@media (max-width: 2070px) {
    html {
        font-size: 8px;
    }
    .container010{
        max-width: 1670px;
    }
}
@media (max-width: 1970px) {
    html {
        font-size: 8px;
    }
    .container010{
        max-width: 1570px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    html {
        font-size: 7px;
    }
    .container010{
        max-width: 1570px;
    }
}
@media (max-width: 1770px) {
    html {
        font-size: 7px;
    }
    .container010{
        max-width: 1470px;
    }
}
@media (max-width: 1670px) {
    html {
        font-size: 7px;
    }
    .container010{
        max-width: 1370px;
    }
}
@media (max-width: 1570px) {
    html {
        font-size: 6px;
    }
    .container010{
        max-width: 1370px;
    }
}
@media (max-width: 1470px) {
    html {
        font-size: 6px;
    }
    .container010{
        max-width: 1270px;
    }
}
@media (max-width: 1370px) {
    html {
        font-size: 6px;
    }
    .container010{
        max-width: 1170px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {
    html {
        font-size: 5px;
    }
    .container010{
        max-width: 1170px;
    }
}
@media (max-width: 1170px) {
    html {
        font-size: 5px;
    }
    .container010{
        max-width: 1070px;
    }
}
@media (max-width: 1070px) {
    html {
        font-size: 5px;
    }
    .container010{
        max-width: 970px;
    }
}
@media (max-width: 970px) {
    html {
        font-size: 4px;
    }
    .container010{
        max-width: 970px;
    }
}
@media (max-width: 870px) {
    html {
        font-size: 4px;
    }
    .container010{
        max-width: 870px;
    }
    .a001-010{
        width: 50%;
    }
}
@media (max-width: 770px) {
    html {
        font-size: 4px;
    }
    .container010{
        max-width: 770px;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    html {
        font-size: 3px;
    }
    .container010{
        max-width: 670px;
    }
}
@media (max-width: 570px) {
    html {
        font-size: 3px;
    }
    .container010{
        max-width: 570px;
    }
}
@media (max-width: 470px) {
    html {
        font-size: 3px;
    }
    .container010{
        max-width: 470px;
    }
    .a001-006{
        width: 50%;
    }

}
@media (max-width: 370px) {
    html {
        font-size: 2px;
    }
    .container010{
        max-width: 370px;
    }
}
@media (max-width: 270px) {
    html {
        font-size: 2px;
    }
    .container010{
        max-width: 270px;
    }
    .a001-010{
        width: 100%;
    }
}
@media (max-width: 170px) {
    html {
        font-size: 2px;
    }
    .container010{
        max-width: 170px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    html {
        font-size: 1.5px;
    }
    .container010{
        max-width: 150px;
    }
}
@media (max-width: 130px) {
    html {
        font-size: 1.5px;
    }
    .container010{
        max-width: 130px;
    }
}
@media (max-width: 110px) {
    html {
        font-size: 1.5px;
    }
    .container010{
        max-width: 110px;
    }
}
@media (max-width: 100px) {
    html {
        font-size: 1px;
    }
    .container010{
        max-width: 100px;
    }
}
@media (max-width: 90px) {
    html {
        font-size: 1px;
    }
    .container010{
        max-width: 90px;
    }
}
@media (max-width: 80px) {
    html {
        font-size: 1px;
    }
    .container010{
        max-width: 80px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    html {
        font-size: 0.5px;
    }
    .container010{
        max-width: 70px;
    }
}
@media (max-width: 60px) {
    html {
        font-size: 0.5px;
    }
    .container010{
        max-width: 60px;
    }
}
@media (max-width: 50px) {
    html {
        font-size: 0.5px;
    }
    .container010{
        max-width: 50px;
    }
}
@media (max-width: 40px) {
    html {
        font-size: 0.1px;
    }
    .container010{
        max-width: 40px;
    }
}
@media (max-width: 30px) {
    html {
        font-size: 0.1px;
    }
    .container010{
        max-width: 30px;
    }
}
@media (max-width: 20px) {
    html {
        font-size: 0.1px;
    }
    .container010{
        max-width: 20px;
    }
}