.S1seccion-011{
    width: 100%;
    height: auto;
    /* background-color: #6a44d1; */
}
.S1seccion-008principalEspacio{
    padding: 25rem 0 0 0;
}
.container011{
    /* background-color: #b341e0; */
    max-width: 2200px;
    height: auto;
    margin: 0 auto;

    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.a001-011{
    /* background-color: #6f5a77; */
    margin: 0 auto;
}
.a001-011 span{
    font-size: 4rem;
    font-weight: 700;
}







/* primer grupo */

@media (max-width: 2470px) {
    html {
        font-size: 9px;
    }
    .container011{
        max-width: 2070px;
    }
}
@media (max-width: 2370px) {
    html {
        font-size: 9px;
    }
    .container011{
        max-width: 1970px;
    }
}
@media (max-width: 2270px) {
    html {
        font-size: 9px;
    }
    .container011{
        max-width: 1870px;
    }
}
@media (max-width: 2170px) {
    html {
        font-size: 8px;
    }
    .container011{
        max-width: 1770px;
    }
}
@media (max-width: 2070px) {
    html {
        font-size: 8px;
    }
    .container011{
        max-width: 1670px;
    }
}
@media (max-width: 1970px) {
    html {
        font-size: 8px;
    }
    .container011{
        max-width: 1570px;
    }
}






/* segundo grupo */

@media (max-width: 1870px) {
    html {
        font-size: 7px;
    }
    .container011{
        max-width: 1570px;
    }
}
@media (max-width: 1770px) {
    html {
        font-size: 7px;
    }
    .container011{
        max-width: 1470px;
    }
}
@media (max-width: 1670px) {
    html {
        font-size: 7px;
    }
    .container011{
        max-width: 1370px;
    }
}
@media (max-width: 1570px) {
    html {
        font-size: 6px;
    }
    .container011{
        max-width: 1370px;
    }
}
@media (max-width: 1470px) {
    html {
        font-size: 6px;
    }
    .container011{
        max-width: 1270px;
    }
}
@media (max-width: 1370px) {
    html {
        font-size: 6px;
    }
    .container011{
        max-width: 1170px;
    }
}






/* tercer grupo */

@media (max-width: 1270px) {
    html {
        font-size: 5px;
    }
    .container011{
        max-width: 1170px;
    }
}
@media (max-width: 1170px) {
    html {
        font-size: 5px;
    }
    .container011{
        max-width: 1070px;
    }
}
@media (max-width: 1070px) {
    html {
        font-size: 5px;
    }
    .container011{
        max-width: 970px;
    }
}
@media (max-width: 970px) {
    html {
        font-size: 4px;
    }
    .container011{
        max-width: 970px;
    }
}
@media (max-width: 870px) {
    html {
        font-size: 4px;
    }
    .container011{
        max-width: 870px;
    }
    .a001-010{
        width: 50%;
    }
}
@media (max-width: 770px) {
    html {
        font-size: 4px;
    }
    .container011{
        max-width: 770px;
    }
}






/* cuarto grupo */

@media (max-width: 670px) {
    html {
        font-size: 3px;
    }
    .container011{
        max-width: 670px;
    }
}
@media (max-width: 570px) {
    html {
        font-size: 3px;
    }
    .container011{
        max-width: 570px;
    }
}
@media (max-width: 470px) {
    html {
        font-size: 3px;
    }
    .container011{
        max-width: 470px;
    }
    .a001-006{
        width: 50%;
    }

}
@media (max-width: 370px) {
    html {
        font-size: 2px;
    }
    .container011{
        max-width: 370px;
    }
}
@media (max-width: 270px) {
    html {
        font-size: 2px;
    }
    .container011{
        max-width: 270px;
    }
    .a001-010{
        width: 100%;
    }
}
@media (max-width: 170px) {
    html {
        font-size: 2px;
    }
    .container011{
        max-width: 170px;
    }
}






/* quinto grupo */

@media (max-width: 150px) {
    html {
        font-size: 1.5px;
    }
    .container011{
        max-width: 150px;
    }
}
@media (max-width: 130px) {
    html {
        font-size: 1.5px;
    }
    .container011{
        max-width: 130px;
    }
}
@media (max-width: 110px) {
    html {
        font-size: 1.5px;
    }
    .container011{
        max-width: 110px;
    }
}
@media (max-width: 100px) {
    html {
        font-size: 1px;
    }
    .container011{
        max-width: 100px;
    }
}
@media (max-width: 90px) {
    html {
        font-size: 1px;
    }
    .container011{
        max-width: 90px;
    }
}
@media (max-width: 80px) {
    html {
        font-size: 1px;
    }
    .container011{
        max-width: 80px;
    }
}






/* sexto grupo */

@media (max-width: 70px) {
    html {
        font-size: 0.5px;
    }
    .container011{
        max-width: 70px;
    }
}
@media (max-width: 60px) {
    html {
        font-size: 0.5px;
    }
    .container011{
        max-width: 60px;
    }
}
@media (max-width: 50px) {
    html {
        font-size: 0.5px;
    }
    .container011{
        max-width: 50px;
    }
}
@media (max-width: 40px) {
    html {
        font-size: 0.1px;
    }
    .container011{
        max-width: 40px;
    }
}
@media (max-width: 30px) {
    html {
        font-size: 0.1px;
    }
    .container011{
        max-width: 30px;
    }
}
@media (max-width: 20px) {
    html {
        font-size: 0.1px;
    }
    .container011{
        max-width: 20px;
    }
}