.C-006{
    font-size: 18px;
    color: #1d1d1d;
    text-align: left;
}
.C-007{
    max-width: 1170px;
    margin: 0 auto;
    height: auto;
}
.C-008{
    width: 100%;
    height: auto;
}
.C-009{
    margin: 0 auto;
    display: flex;
}
.C-010{
    margin: 0 auto;
    align-items: center;
    display: flex;
}
.C-011{
    margin: 0 auto;
}
.C-012{
    display: flex;
  }