.C-006{
    font-size: 18px;
    color: #1d1d1d;
    text-align: left;
}
.C-007{
    max-width: 1170px;
    margin: 0 auto;
    height: auto;
}
.C-008{
    width: 100%;
    height: auto;
}
.C-009{
    margin: 0 auto;
    display: flex;
}
.C-010{
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.C-011{
    margin: 0 auto;
}
.C-012{
    display: flex;
}
.C-013{
    width: 100%;
}

@media(max-width: 460px){
    .C-014{
        width: 460px;
        height: auto;
        overflow-x: hidden;
    }
    .C-009{
        width: 460px;
        height: auto;
        overflow-x: hidden;
    }
}


.C-018{
    max-width: 1170px;
    min-width: 460px;
    height: auto;
    /* background-color: #7fe9e9; */
    margin: 0 auto;
}

/* esto es sacado del portafolio */

.C-018 .row {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #d1e65e; */
    max-width: 100%;
    margin: 0 auto;
}
.fact-item
    {
      flex: 0 0 25%;
      max-width: 25%;
      margin-top: 40px;
      text-align: center;
    }
.fact-item i
    {
      color: #084952;
      font-size: 60px;
    }
.fa-solid{
    width: 100% !important;
}

@media(max-width: 768px){
    .fact-item
    {
        flex: 0 0 50%;
      min-width: 50%;
    }
}